.student-bg {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #0c1424, #101c36);
  color: white;
}

/* CONTAINER */
.dashboard-container {
  width: 100%;
    padding: 20px 40px;
}

/* HERO */
.student-hero {
  background: rgba(255,255,255,0.05);
  border-radius: 14px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

/* NAME */
.student-hero h1 {
  font-size: 24px;
  font-weight: 600;
}

.student-hero p {
  font-size: 13px;
  opacity: 0.6;
}

/* CLASS BADGE */
.class-badge {
  background: #00c853;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0,255,150,0.4);
}

/* BUTTON ROW */
.actions-row {
  display: flex;
  gap: 16px;
  justify-content: flex-center;
  margin-bottom: 20px;
}

/* BUTTON */
.actions-row button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.actions-row button:hover {
  transform: translateY(-2px);
}

/* CARDS GRID */
.info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* CARD */
.info-card {
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  padding: 16px;
}

/* TEXT */
.info-card h4 {
  font-size: 13px;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 13px;
}

/* ATTENDANCE */
.progress-bar {
  height: 8px;
  background: #333;
  border-radius: 6px;
  margin: 6px 0;
}

.progress-bar div {
  height: 100%;
  background: #00c853;
}

/* PRINT */
.admission-wrapper {
  max-width: 850px;
  margin: auto;
}

.admission-card {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 10px;
}

.print-bar {
  text-align: right;
  margin-bottom: 10px;
}

.icon-btn {
  background: #1c2331;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
}